{% extends 'base.html' %}

{% block title %}Sobre Mí{% endblock %}

{% block content %}
<section id="sobre-mi">
    <div class="about-img">
        <img src="https://via.placeholder.com/400x500" alt="Tu Foto">
    </div>
    <div class="about-text">
        <h2>Sobre Mí</h2>
        <p>Tengo más de 5 años de experiencia ayudando a marcas a crecer. Me apasiona la tecnología y el diseño centrado
            en el usuario.</p>
        <br>
        <p>Mi objetivo es convertir ideas complejas en realidades digitales simples y efectivas.</p>
    </div>
</section>
{% endblock %}